:root {
    --color-dark: #334155;
    --color-white: #FFFFFF;

    --main-font-weight: 700;
    --second-font-weight: 600;

    --main-margin: 116px;

    --sending-width: 308px;
    --sending-height: 40px;
    --sending-radius: 50px;
    
                
}

.icon-orange {background-color: #F6B31F;}
.color-violet {background-color: #8081BD;}
.icon-pink {background-color: #F3ACC8;}
    
body {
    position: relative;
}

body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Montserrat;
}
.container {
    border: 1px solid blue;
    max-width: 1420px;
    margin: 0 auto;
}

header {
    nav {
        border: 1px solid red;
        display: inline-block;
        width: 100%;
        margin-top: 32px;
        margin-bottom: var(--main-margin);
    }

    ul {
        // border: 1px solid rgb(0, 213, 255);
        display: inline-block;
        list-style: none;
        vertical-align: 10px;
        margin-left: 230px;
        margin-right: 230px;
        
    }

    li {
        display: inline-block;
        margin-right: 15px;
        font-size: 14px;

        a {
            // border: 1px solid rgb(0, 55, 255);
            color: var(--color-dark); 
            font-weight: var(--second-font-weight);
        }
        
    }

    li:last-child {margin-right: 0;}

    .signin-btn {
        font-size: 12px;
        // border: 1px solid rgb(242, 255, 0);
        color: var(--color-white);
        background-color: #8081BD;
        padding: 11px 12px 14px 12px;
        border-radius: 50px;
        font-weight: var(--main-font-weight);
        vertical-align: 10px;
    }



    .header_info {
        border: 1px solid red;
        margin-bottom: var(--main-margin);
        
        .outer_box {
            width: 100%;
            // border: 1px solid red;
            margin-right: 20px;
            display: inline-block;
            width: 450px;

            p {
                display: inline-block;
                // border: 1px solid red;
                width: 364px;
                vertical-align: middle;
                color: var(--color-dark);
                
                span {font-weight: var(--main-font-weight);}
            }

            .box {margin-bottom: 25px;}
            .box:last-child {margin-bottom: 0;}
        }

        .outer_box:last-child {
            margin-right: 0;
        }

        .icon-box {
            width: 76px;
            height: 76px;
            border-radius: 10px;
            text-align: center;
            line-height: 76px;
            display: inline-block;
            img {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}

.hero {
    height: 391px;
    border-radius: 20px;

    
    
    .container {
        h2 {
            color: var(--color-white);
            font-weight: var(--main-font-weight);
            font-size: 40px;
            margin-top: 48px;
            margin-bottom: 27px;
        }
        .main-text {
            color: var(--color-white);
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 31px;
        }
        
        #phone {
                width: var(--sending-width);
                height: var(--sending-height);
                border-radius: var(--sending-radius);
                font-weight: var(--second-font-weight);
                color: var(--color-dark);
                background-color: var(--color-white);
                border: none;
                }

        .radio-box {
            margin-top: 20px;
            margin-bottom: 49px;
            #control1 {
                color: var(--color-white);
                width: 20px;
                height: 20px;
                border-radius: 50px;
            }
            .radio-text {
            color: var(--color-white);
            font-weight: var(--second-font-weight);
            font-size: 10px;
            margin-left: 13px;
            display: inline-block;
            }
        }
        
        .send_btn {
            display: inline-block;
            width: var(--sending-width);
            height: var(--sending-height);
            border-radius: var(--sending-radius);
            color: var(--color-dark);
            font-weight: var(--main-font-weight);
            text-align: center;
            vertical-align: middle;
            line-height: 40px;
            text-transform: uppercase;
        }
    
    }
    .questions {
        border: 1px solid green;
        position: absolute;
        height: 930px;
        width: 100%;
        top: 342px;

        img {
            position: absolute;
        }
        .back_image {
            right: -130px;
            top: 30px;
        };
        .front_image {
            max-width: 290px;
            top: 200px;
            right: 130px;
            transform: scaleX(-1);
        }
    }


    
}
