$color-dark: #334155;
$color-white: #FFFFFF;
$color-violet: #8081BD;
$bcolor-services: #FFF6D1;

$main-font-weight: 700;
$second-font-weight: 600;
$text-font-weight: 500;

$main-margin: 116px;
$sending-width: 308px;
$sending-height: 40px;
$sending-radius: 50px;
$icon-border-radius: 10px;
$heading-size: 40px;
$text-font-size: 20px; 

.icon-orange {background-color: #F6B31F;}
.color-violet {background-color: #8081BD;}
.icon-pink {background-color: #F3ACC8;}
.icon-blue {background-color: #0E95D3;}
    
@mixin block {
    margin-bottom: $main-margin;
    height: 391px;
    border-radius: 20px;
    padding-top: 48px;
    padding-bottom: 49px;
}
@mixin h2 {
    font-weight: $main-font-weight;
    font-size: $heading-size;
    margin-bottom: 27px;
}
@mixin main_text {
    font-weight: $text-font-weight;
    font-size: $text-font-size;
    margin-bottom: 31px;
}
@mixin phone {
    width: $sending-width;
    height: $sending-height;
    border-radius: $sending-radius;
    font-weight: $second-font-weight;
    color: $color-dark;
    border: none;
    z-index: 1;
    position: relative;
    padding: 14px 20px;
    outline: none;
}
@mixin btn-orange{
    display: inline-block;
    width: $sending-width;
    height: $sending-height;
    border-radius: $sending-radius;
    color: $color-dark;
    font-weight: $main-font-weight;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1;
    position: relative;
}
@mixin radio-text {
    font-weight: $second-font-weight;
    font-size: 10px;
    margin-left: 13px;
    display: inline-block;
}

body {
    position: relative;
}

body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Montserrat;
}
.container {
    // border: 1px solid blue;
    max-width: 1420px;
    margin: 0 auto;
}

header {
    nav {
        display: inline-block;
        width: 100%;
        margin-top: 32px;
        margin-bottom: $main-margin;

        img {
            width: 192px;
            height: 52px;
        }
    }
    ul {
        display: inline-block;
        list-style: none;
        vertical-align: 10px;
        margin-left: 230px;
        margin-right: 230px;
        
    }
    li {
        display: inline-block;
        margin-right: 15px;
        font-size: 14px;

        a {
            color: $color-dark;
            font-weight: $second-font-weight;
        } 
    }
    li:last-child {margin-right: 0;}

    .signin-btn {
        font-size: 12px;
        color: $color-white;
        background-color: $color-violet;
        padding: 11px 12px 14px 12px;
        border-radius: $sending-radius;
        font-weight: $main-font-weight;
        vertical-align: 10px;
        display: inline-block;
    }

    .header_info {
        margin-bottom: $main-margin;
        
        .outer_box {
            width: 100%;
            margin-right: 16px;
            display: inline-block;
            width: 450px;
    
            p {
                display: inline-block;
                width: 356px;
                vertical-align: middle;
                margin-left: 10px;
                color: $color-dark;
                
                span {font-weight: $main-font-weight;}
            }
            .box {margin-bottom: 25px;}
            .box:last-child {margin-bottom: 0;}
        }
        .outer_box:last-child {margin-right: 0;}

        .icon-box {
            width: 76px;
            height: 76px;
            border-radius: $icon-border-radius;
            text-align: center;
            line-height: 76px;
            display: inline-block;
            img {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}

.hero {
    @include block();
    background-color: $color-violet;
    .central {
        h2 {
            @include h2();
            color: $color-white;
        }
        .main-text {
            @include main_text();
            color: $color-white;
        }
        
        #phone {
            @include phone();
            background-color: $color-white;
            }

        .radio-box {
            margin-top: 20px;
            // margin-bottom: 49px;
            
            #control1 {
                color: $color-white;
                width: 20px;
                height: 20px;
                border-radius: $sending-radius;
                z-index: 1;
                position: relative;
                cursor: pointer;
            }
            .radio-text {
                @include radio-text();
                color: $color-white;
            }
        }
        
        .send_btn {
            @include btn-orange();
            color: $color-dark;
        }
    
    }
    .questions {
        position: absolute;
        height: 930px;
        width: 100%;
        top: 342px;

        img {
            position: absolute;
            pointer-events: none;
        }
        .back_image {
            right: -130px;
            top: 30px;
        };
        .front_image {
            max-width: 290px;
            top: 196px;
            right: 130px;
            transform: scaleX(-1);
        }
    }
}


.services {
    margin-bottom: $main-margin;

    h2 {
        color: $color-violet;
        font-weight: $main-font-weight;
        font-size: $heading-size;
        margin-bottom: 41px;
    }
    .box { 
        display: inline-block;
        background-color: $bcolor-services;
        border-radius: $icon-border-radius;
        height: 100px;
        margin-bottom: 29px;
        margin-right: 18px;

        .box1:last-child {
            margin-bottom: 0;
            margin-right: 0;
        }  

        .box1 {
            display: inline-block;
            background-color: $color-white;
            border-radius: 5px;
            width: 76px;
            height: 76px;
            text-align: center;
            line-height: 76px;
            display: inline-block;
            margin: 12px 0 12px 12px;

            img {
                display: inline-block;
                vertical-align: middle;
                }
        }

        span {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            color: $color-dark;
            font-weight: $main-font-weight;
        }
    }
    .yoga, .plastics, .golf, .begovely {span {width: 160px;}}
    .montessori {span {width: 470px;}}
    .construction, .rhetoric, .climbing {span {width: 264px;}}
    .english, .etiquette, .therapy {span {width: 356px;}}  
}

.advantages {
    margin-bottom: $main-margin;

    .description {
        margin-bottom: 58px;

        h2 {
            color: $color-violet;
            font-weight: $main-font-weight;
            font-size: $heading-size;
            margin-bottom: 24px;
            }

        p {
            color: $color-dark;
            font-weight: $text-font-weight;
            font-size: $text-font-size;
            }
    }
        

    .box {
        width: 450px;
        height: 76px;
        display: inline-block;
        margin-right: 16px;
        margin-bottom: 25px;

        span {
            color: $color-dark;
            font-weight: $main-font-weight;
            font-size: $text-font-size;
            display: inline-block;
            width: 356px;
            vertical-align: middle;
            margin-left: 10px;    
        }
        .box:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
        .icon-box {
            width: 76px;
            height: 76px;
            border-radius: $icon-border-radius;
            text-align: center;
            line-height: 76px;
            display: inline-block;
            img {
                display: inline-block;
                vertical-align: middle;
                }  
        }
    }   
}
 

.footer {
    @include block();
    background-color: $bcolor-services;
    .container {
        h2 {
            @include h2();
            color: $color-dark;
        }
        .main-text {
            @include main_text();
            color: $color-dark;
        }
        
        #phone {
            @include phone();
            background-color: #FDDC4E;
            }

        .radio-box {
            margin-top: 20px;
            position: relative;

            input {
                appearance: none;
                width: 21px;
                height: 20px;
                background-color: #334155;
                border-radius: 50%;
                cursor: pointer;
                z-index: 1;
                position: relative;
            }

            input::after {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                background-color: transparent;
                border-radius: 52%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            input:checked {
                background-color: #334155
            }

            input:checked::after {
                background-color: #fff; 
                
            }
            
            .radio-text {
                @include radio-text();
                color: $color-dark;
            }
        }

        .send_btn {
            @include btn-orange();
            color: $color-white;
            background-color: #EA5D4A;
        }
    
    }
    .questions {
        position: absolute;
        height: 707px;
        width: 100%;
        bottom: -110px;

        img {
            position: absolute;
        }
        .back_image {
            right: -50px;
            top: 5px;
        };
        .front_image {
            max-width: 457px;
            top: 140px;
            right: 140px;
        }
    }
}