.icon-orange {
  background-color: #F6B31F;
}

.color-violet {
  background-color: #8081BD;
}

.icon-pink {
  background-color: #F3ACC8;
}

.icon-blue {
  background-color: #0E95D3;
}

body {
  position: relative;
}

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Montserrat;
}

.container {
  max-width: 1420px;
  margin: 0 auto;
}

header nav {
  display: inline-block;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 116px;
}
header nav img {
  width: 192px;
  height: 52px;
}
header ul {
  display: inline-block;
  list-style: none;
  vertical-align: 10px;
  margin-left: 230px;
  margin-right: 230px;
}
header li {
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
}
header li a {
  color: #334155;
  font-weight: 600;
}
header li:last-child {
  margin-right: 0;
}
header .signin-btn {
  font-size: 12px;
  color: #FFFFFF;
  background-color: #8081BD;
  padding: 11px 12px 14px 12px;
  border-radius: 50px;
  font-weight: 700;
  vertical-align: 10px;
  display: inline-block;
}
header .header_info {
  margin-bottom: 116px;
}
header .header_info .outer_box {
  width: 100%;
  margin-right: 16px;
  display: inline-block;
  width: 450px;
}
header .header_info .outer_box p {
  display: inline-block;
  width: 356px;
  vertical-align: middle;
  margin-left: 10px;
  color: #334155;
}
header .header_info .outer_box p span {
  font-weight: 700;
}
header .header_info .outer_box .box {
  margin-bottom: 25px;
}
header .header_info .outer_box .box:last-child {
  margin-bottom: 0;
}
header .header_info .outer_box:last-child {
  margin-right: 0;
}
header .header_info .icon-box {
  width: 76px;
  height: 76px;
  border-radius: 10px;
  text-align: center;
  line-height: 76px;
  display: inline-block;
}
header .header_info .icon-box img {
  display: inline-block;
  vertical-align: middle;
}

.hero {
  margin-bottom: 116px;
  height: 391px;
  border-radius: 20px;
  padding-top: 48px;
  padding-bottom: 49px;
  background-color: #8081BD;
}
.hero .central h2 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 27px;
  color: #FFFFFF;
}
.hero .central .main-text {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 31px;
  color: #FFFFFF;
}
.hero .central #phone {
  width: 308px;
  height: 40px;
  border-radius: 50px;
  font-weight: 600;
  color: #334155;
  border: none;
  z-index: 1;
  position: relative;
  padding: 14px 20px;
  outline: none;
  background-color: #FFFFFF;
}
.hero .central .radio-box {
  margin-top: 20px;
}
.hero .central .radio-box #control1 {
  color: #FFFFFF;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  z-index: 1;
  position: relative;
  cursor: pointer;
}
.hero .central .radio-box .radio-text {
  font-weight: 600;
  font-size: 10px;
  margin-left: 13px;
  display: inline-block;
  color: #FFFFFF;
}
.hero .central .send_btn {
  display: inline-block;
  width: 308px;
  height: 40px;
  border-radius: 50px;
  color: #334155;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
  position: relative;
  color: #334155;
}
.hero .questions {
  position: absolute;
  height: 930px;
  width: 100%;
  top: 342px;
}
.hero .questions img {
  position: absolute;
  pointer-events: none;
}
.hero .questions .back_image {
  right: -130px;
  top: 30px;
}
.hero .questions .front_image {
  max-width: 290px;
  top: 196px;
  right: 130px;
  transform: scaleX(-1);
}

.services {
  margin-bottom: 116px;
}
.services h2 {
  color: #8081BD;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 41px;
}
.services .box {
  display: inline-block;
  background-color: #FFF6D1;
  border-radius: 10px;
  height: 100px;
  margin-bottom: 29px;
  margin-right: 18px;
}
.services .box .box1:last-child {
  margin-bottom: 0;
  margin-right: 0;
}
.services .box .box1 {
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: 5px;
  width: 76px;
  height: 76px;
  text-align: center;
  line-height: 76px;
  display: inline-block;
  margin: 12px 0 12px 12px;
}
.services .box .box1 img {
  display: inline-block;
  vertical-align: middle;
}
.services .box span {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #334155;
  font-weight: 700;
}
.services .yoga span, .services .plastics span, .services .golf span, .services .begovely span {
  width: 160px;
}
.services .montessori span {
  width: 470px;
}
.services .construction span, .services .rhetoric span, .services .climbing span {
  width: 264px;
}
.services .english span, .services .etiquette span, .services .therapy span {
  width: 356px;
}

.advantages {
  margin-bottom: 116px;
}
.advantages .description {
  margin-bottom: 58px;
}
.advantages .description h2 {
  color: #8081BD;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 24px;
}
.advantages .description p {
  color: #334155;
  font-weight: 500;
  font-size: 20px;
}
.advantages .box {
  width: 450px;
  height: 76px;
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 25px;
}
.advantages .box span {
  color: #334155;
  font-weight: 700;
  font-size: 20px;
  display: inline-block;
  width: 356px;
  vertical-align: middle;
  margin-left: 10px;
}
.advantages .box .box:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
.advantages .box .icon-box {
  width: 76px;
  height: 76px;
  border-radius: 10px;
  text-align: center;
  line-height: 76px;
  display: inline-block;
}
.advantages .box .icon-box img {
  display: inline-block;
  vertical-align: middle;
}

.footer {
  margin-bottom: 116px;
  height: 391px;
  border-radius: 20px;
  padding-top: 48px;
  padding-bottom: 49px;
  background-color: #FFF6D1;
}
.footer .container h2 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 27px;
  color: #334155;
}
.footer .container .main-text {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 31px;
  color: #334155;
}
.footer .container #phone {
  width: 308px;
  height: 40px;
  border-radius: 50px;
  font-weight: 600;
  color: #334155;
  border: none;
  z-index: 1;
  position: relative;
  padding: 14px 20px;
  outline: none;
  background-color: #FDDC4E;
}
.footer .container .radio-box {
  margin-top: 20px;
  position: relative;
}
.footer .container .radio-box input {
  appearance: none;
  width: 21px;
  height: 20px;
  background-color: #334155;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  position: relative;
}
.footer .container .radio-box input::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 52%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer .container .radio-box input:checked {
  background-color: #334155;
}
.footer .container .radio-box input:checked::after {
  background-color: #fff;
}
.footer .container .radio-box .radio-text {
  font-weight: 600;
  font-size: 10px;
  margin-left: 13px;
  display: inline-block;
  color: #334155;
}
.footer .container .send_btn {
  display: inline-block;
  width: 308px;
  height: 40px;
  border-radius: 50px;
  color: #334155;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
  position: relative;
  color: #FFFFFF;
  background-color: #EA5D4A;
}
.footer .questions {
  position: absolute;
  height: 707px;
  width: 100%;
  bottom: -110px;
}
.footer .questions img {
  position: absolute;
}
.footer .questions .back_image {
  right: -50px;
  top: 5px;
}
.footer .questions .front_image {
  max-width: 457px;
  top: 140px;
  right: 140px;
}

/*# sourceMappingURL=style.css.map */
